@model Zeekpipo.CrowdFundingDomain.Model.Project
@{
    ViewBag.Title = "ご支援いただいたプロジェクトに関しまして";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <br />++++++++++++++++++++++++++++++++++++++++++++++++++++
    <br />ゲームクリエイターとゲームファンをつなげる！
    <br />クラウドライブ
    <br />URL：http://www.crowdrive.com/
    <br />お問い合わせ：<a href="mailto:contact@crowdrive.com" target="_top">contact@crowdrive.com</a>
    <br />++++++++++++++++++++++++++++++++++++++++++++++++++++
</body>
</html>


